<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<label>Nome</label>
			<input type="text" name="nome" id="nome" class="nome form-control">
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label>Status</label>
			<select name="status" id="status" class="status form-control">
				<option value="1">Rascunho</option>
				<option value="2">Andamento</option>
				<option value="3">Congelado</option>
				<option value="4">Cancelado</option>
				<option value="5">Concluido</option>
			</select>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label>Data Inicio</label>
			<input type="date" name="data_inicio" id="data_inicio" class="data_inicio form-control">
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label>Data Fim</label>
			<input type="date" name="data_fim" id="data_fim" class="data_fim form-control">
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label>Tempo previsto</label>
			<input type="text" name="tempo_previsto" id="tempo_previsto" class="tempo_previsto form-control">
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label>Valor Hora</label>
			<input type="text" name="valor_hora" id="valor_hora" class="valor_hora form-control">
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label>Responsavel</label>
			<select name="usuario_id" id="usuario_id" class="usuario_id form-control">
			</select>
		</div>
	</div>
	<div class="col-md-12">
		<div class="form-group">
			<label>Descricao</label>
			<textarea class="form-control" name="descricao" id="descricao" rows="5"></textarea>
		</div>
	</div>
	<div class="col-md-12">
		<div class="form-group">
			<label>Observacao</label>
			<textarea class="form-control" name="observacao" id="observacao" rows="5"></textarea>
		</div>
	</div>
</div>