<div class="row">
	<div class="input-field col s12">
		<label for="nome">Nome</label>
		<input type="text" name="nome" id="nome" class="nome">
	</div>
	<div class="input-field col s4">
		<select name="status" id="status" class="status">
			<option value="" disabled selected>Selecione</option>
			<option value="1">Rascunho</option>
			<option value="2">Andamento</option>
			<option value="3">Congelado</option>
			<option value="4">Cancelado</option>
			<option value="5">Concluido</option>
		</select>
	</div>
	<div class="input-field col s4">
		<label for="data_inicio">Data Inicio</label>
		<input type="date" name="data_inicio" id="data_inicio" class="data_inicio datepicker">
	</div>
	<div class="input-field col s4">
		<label for="data_fim">Data Fim</label>
		<input type="date" name="data_fim" id="data_fim" class="data_fim datepicker">
	</div>
	<div class="col s12 inputSelect">
	</div>
</div>