<div class="row">
    <div class="col s12 l4">
       	<div class="card-panel teal">
       </div>
    </div>
    <div class="col s12 l4">
       	<div class="card-panel teal">
       </div>
    </div>
    <div class="col s12 l4">
       	<div class="card-panel teal">
       </div>
    </div>
</div>
<div class="row">
    <div class="col s12 l4">
       	<div class="card-panel teal">
          	<div id="chart"></div>
       </div>
    </div>
    <div class="col s12 l4">
       	<div class="card-panel teal">
          	<div id="chart1"></div>
       </div>
    </div>
    <div class="col s12 l4">
       	<div class="card-panel teal">
          	<div id="chart2"></div>
       </div>
    </div>
</div>