<div class="row div_usuarios">
	
	
</div>

<div class="row" style="margin: auto; margin-left: 20px;">
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
		<div class="pull-center text-center">
			<img src="" class="img-circ-mat big img_usuario">
			<br>
			<input type="file" name="edt_foto" class="hidden edt_foto">
			<button type="button" class="btn-floating btn_small btn_editar_foto" style="position: absolute;top: 30%;left: 55%;">
				<span class="glyphicon glyphicon-pencil"></span>
			</button>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="">
					<label class="" for="edt_observacoes">Observação</label>
					<textarea class="form-control format edt_observacoes" rows="13"></textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
		<div class="row" style="font-size: 20px; padding-top: 30px;">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
				<div class="">
					<label class="" for="edt_usuario">Usuario*</label>
					<input type="text" id="edt_usuario" maxlength="150" class="edt_usuario form-control-mat" aria-describedby="chkusuario">
					<span id="chkusuario" class="glyphicon span_validauser hidden text-primary glyphicon-ok input-glyphicon"></span>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
				<div class="">
					<label class="" for="edt_nome">Nome*</label>
					<input type="text" id="edt_nome" maxlength="150" class="edt_nome form-control-mat">
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
				<div class="">
					<label class="" for="edt_sobrenome">Sobrenome*</label>
					<input type="text" id="edt_sobrenome" maxlength="150" class="edt_sobrenome form-control-mat">
				</div>
			</div>
		</div>
		<div class="row" style="font-size: 20px; padding-top: 30px;">	
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
				<div class="">
					<label class="" for="edt_email">E-mail*</label>
					<input type="text" id="edt_email" maxlength="150" class="edt_email form-control-mat">
					<span id="chkusuario" class="glyphicon span_validaemail hidden text-primary glyphicon-ok input-glyphicon"></span>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
				<div class="">
					<label class="" for="edt_senha">Senha*</label>
					<input type="password" id="edt_senha" maxlength="10" class="edt_senha form-control-mat">
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
				<div class="">
					<label class="" for="edt_data_nascimento">Data de Nascimento</label>
					<input type="date" id="edt_data_nascimento" class="edt_data_nascimento form-control-mat">
				</div>
			</div>
		</div>
		<div class="row" style="font-size: 20px; padding-top: 30px;">
			
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
				<div class="">
					<label class="" for="edt_confirm_senha">Sexo</label>
					<select class="cbo_sexo">
						<option value="1">Masculino</option>
						<option value="2">Feminino</option>
					</select>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
				<div class="">
					<label class="" for="edt_ocupacao">Ocupação</label>
					<input type="text" id="edt_ocupacao" class="edt_ocupacao form-control-mat">
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
				<div class="">
					<label class="" for="edt_telefone">Telefone</label>
					<input type="text" id="edt_telefone" class="edt_telefone form-control-mat">
				</div>
			</div>
		</div>
		<div class="row" style="font-size: 20px; padding-top: 30px;">
			
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
				<div class="">
					<label class="" for="edt_celular">Celular</label>
					<input type="text" id="edt_celular" class="edt_celular form-control-mat">
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
				<div class="">
					<label class="" for="cbo_pais">País</label>
					<select class="cbo_pais" data-search="true">
						
					</select>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
				<div class="">
					<label class="" for="cbo_estado">Estado</label>
					<select class="cbo_estado" data-search="true">
						
					</select>
				</div>
			</div>
			
		</div>
		<div class="row" style="font-size: 20px; padding-top: 30px;">
			
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
				<div class="">
					<label class="" for="cbo_cidade">Cidade</label>
					<select class="cbo_cidade" data-search="true">
						
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 text-center">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 text-center">
				<button type="button" class="pull-center btn-mat btn-primary-mat btn_concluir">Concluir</button>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 text-center">
			</div>
		</div>
	</div>
</div>
